ul{
    padding: 0;
}

.banner{
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.article-img{
    margin-bottom: 2rem;
}


.skeleton-text {
    background-color: #979595ee;
    height: 3.5rem;
    margin-bottom: 50px;
    width: 130%;
}

.skeleton-loading {
    background-color: #f7f7f7ea;
    padding: 15px;
}
  
.skeleton-text-title {
    background-color: #979595ee;
    height: 3.5rem;
    margin-top: 1rem;
   
    width: 70%;
}


.skeleton-image {
    background-color: #e0e0e0;
    
    width: 200px;
}

.skeleton-banner {
    background-color: #2c2b2bde;
    height: 40vh;
}

.skeleton-banner-mini-text {
    background-color: #979595ee;
    height: 20px;
    margin-bottom: 10px;
    width: 15%;
    margin-top: 7px;
    list-style: none;
    margin-bottom: 2rem;
    animation: shineAnimationText 4s infinite; /* Duration of the animation and repetition */
}

.skeleton-banner-text {
    background-color: #979595ee;
    height: 20px;
    margin-bottom: 10px;
    width: 80%;
}

.skeleton-banner-small-text {
    background-color: #979595ee;
    height: 20px;
    margin-top: 7px;
    width: 90%;
    list-style: none; 
    animation: shineAnimationText 4s infinite; /* Duration of the animation and repetition */
}
.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.3) 50%, transparent 62%); /* Gradiente diagonal */
    animation: shineAnimation 4s infinite; /* Duración de la animación y repetición infinita */
}

@keyframes shineAnimation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
}

@keyframes shineAnimationText {
    0% {
        background-color: #979595ee; /* Color normal */
    }
    50% {
        background-color: #bdbabaee; /* Color durante el destello */
    }
    100% {
        background-color: #979595ee; /* Color normal */
    }
}