.search-bar {
    position:absolute;
    right:2vw;
}


.logo-nav{
    width: 1.6cm;
    height: 2.2cm;
    margin-left:.5vw;
}

/*.banner{
    background-image: url(./categories/images/imagen4.jpg);
}*/

.banner{
    background-image: url(./categories/images/banner.jpg);
    background-position: center;
}

