.banner{
    background-image: url(../images/photography-banner.gif);
    background-size: cover;
}

.logo-nav{
    width: 1.6cm;
    height: 2.2cm;
    margin-left:.5vw;
}

.elemento {
    display: none;
}

#show-less-btn{
    display: none;
}