
<div class="container mb-2">
  <div class="row mt-4">
    
    <div class="col-md-4  mt-4">
      <img src="https://i.ibb.co/xgsT9st/art-categorie.webp" alt="Descripción de la imagen" class="img-fluid">
    </div>
    <div class="texto col p-4 d-flex flex-column position-static"> 
      <h2 class="mb-0">Art</h2>
      <p class="card-text">Uncover hidden meanings in paintings and ignite your creative spark!</p>
      <a id="Art"class="btn btn-outline-dark btn-reading btn-light redireccion" href="../categorie/Art" >Dive Deeper!</a>
    </div>
  </div>
</div>
<div class="container mb-2">
  <div class="row mt-4">
    <hr class="type_4">
    <div class="texto col p-4 d-flex flex-column position-static"> 
      <h2 class="mb-0">Cinema</h2>
      <p class="card-text">Dive into the captivating world of cinema and television!</p>
      <a id="Cinema"class="btn btn-outline-dark btn-reading btn-light redireccion" href="../categorie/Cinema" >Dive Deeper!</a>
    </div>
    <div class="col-md-4 mt-4">
      <img src="https://i.ibb.co/Sx04Nx5/cinema-categorie.webp" alt="Descripción de la imagen" class="img-fluid">
    </div>
  </div>
</div>
<div class="container mb-2">
  <div class="row mt-4">
    <hr class="type_4">
    <div class="col-md-4  mt-4">
      <img src="https://i.ibb.co/YZxwL9q/history-categorie.webp" alt="Descripción de la imagen" class="img-fluid">
    </div>
    <div class="texto col p-4 d-flex flex-column position-static"> 
      <h2 class="mb-0">History</h2>
      <p class="card-text">Uncover history's weird & wonderful fun facts & "wow" moments await!</p>
      <a id="History"class="btn btn-outline-dark btn-reading btn-light redireccion" href="../categorie/History" >Dive Deeper!</a>
    </div>
  </div>
</div>
<div class="container mb-2">
  <div class="row mt-4">
    <hr class="type_4">
    <div class="texto col p-4 d-flex flex-column position-static"> 
      <h2 class="mb-0">Fashion</h2>
      <p class="card-text">Unravel iconic outfits & uncover hidden meanings in clothing!</p>
      <a id="Fashion"class="btn btn-outline-dark btn-reading btn-light redireccion" href="../categorie/Fashion">Dive Deeper!</a>
    </div>
    <div class="col-md-4 mt-4">
      <img src="https://i.ibb.co/D5XVrvL/fashion-categorie.webp" alt="Descripción de la imagen" class="img-fluid">
    </div>
  </div>
</div>
<div class="container mb-2">
  <div class="row mt-4">
    <hr class="type_4">
    <div class="col-md-4 mt-4">
      <img src="https://i.ibb.co/1J8nnFW/literature-categorie.webp" alt="Descripción de la imagen" class="img-fluid">
    </div>
    <div class="texto col p-4 d-flex flex-column position-static"> 
      <h2 class="mb-0">Literature</h2>
      <p class="card-text">Unravel fun facts, author quirks, and hidden meanings in your favorite stories.</p>
      <a id="Literature"class="btn btn-outline-dark btn-reading btn-light redireccion" href="../categorie/Literature" >Dive Deeper!</a>
    </div>
  </div>
</div>

<div class="container mb-2">
  <div class="row mt-4">
    <hr class="type_4">
    <div class="texto col p-4 d-flex flex-column position-static"> 
      <h2 class="mb-0">Photography</h2>
      <p class="card-text">Fun facts and fascinating secrets hidden in the history of photography. </p>
      <a id="Photography" class="btn btn-outline-dark btn-reading btn-light redireccion" href="../categorie/Photography" >Dive Deeper!</a>
    </div>
    <div class="col-md-4 mt-4">
      <img src="https://i.ibb.co/fdwYWby/photography-categorie.webp" alt="Descripción de la imagen" class="img-fluid">
    </div>
    
  </div>
</div>

