.search-bar {
    position:absolute;
    right:2vw;
}

.banner{
    background-image: url(../images/history-banner.jpg);
    background-size: cover;
    background-position: center;
}



.logo-nav{
    width: 1.6cm;
    height: 2.2cm;
    margin-left:.5vw;
}

.elemento {
    display: none;
}

#show-less-btn{
    display: none;
}